<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter a term" />
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<p class="flow-text" *ngIf="topics == undefined" i18n='No results|No results avilable text@@no-results-available'>
    Nothing to show here for now! Please, come back later.
</p>
<table mat-table [dataSource]="dataSource" matSort>
    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

    <!-- No Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="msmaller center">
            No.
        </th>
        <td mat-cell *matCellDef="let topic" class="msmaller">{{ topic.id }}</td>
    </ng-container>

    <!-- Quote Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="center">Description</th>
        <td mat-cell *matCellDef="let topic" class="mat-body">
            <p class="block-ellipsis">{{ topic.description }}</p>
        </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mmedium center htopic">
            Name
        </th>
        <td mat-cell *matCellDef="let topic" class="center mmedium">
            <img mat-card-avatar src="https://source.unsplash.com/collection/2270935/100x10{{
          topic.id
        }}" alt="Picture of {{ topic.name }}" />
            <button mat-button class="fixWidth">
        <p class="pblock-ellipsis">{{ topic.name }}</p>
      </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [routerLink]="['/topics', row.id, 'details']"></tr>
</table>

<mat-paginator [length]="paginatorConfigurable.length" [pageSize]="paginatorConfigurable.pageSize" [pageSizeOptions]="paginatorConfigurable.pageSizeOptions" (page)="paginatorConfigurable.pageEvent = $event" showFirstLastButtons></mat-paginator>