<div class="container">
  <h2 class="center">
    Jesus is certainly the person who has the most positivly marked history.
  </h2>
  <div class="row">
    <div class="col s12 m6 l7">
      <img
        src="/assets/img/35.jpg"
        alt="Picture to illustrate Investigations"
      />
    </div>
    <div class="col s12 m6 l5">
      <p class="flow-text">
        From ancient prophets to well-known contemporaries, philosophers;
        scientists; theologians; historians; artists; athletes... and many types
        of scholars, many have spent a great deal of their life trying to know
        him or to know the truth about him.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l5">
      <p class="flow-text">
        They shared the results of their investigations, in several forms,
        books; articles, interviews, poems, songs ... and the purpose of this
        application is to present these results in a simple and easily
        accessible form: quotes.
      </p>
    </div>
    <div class="col s12 m6 l7">
      <img
        src="/assets/img/36.jpg"
        alt="Picture to illustrate a library resumed"
      />
    </div>
  </div>
  <h5 class="center">
    We welcome you and wish you to enjoy your reading time here :).
  </h5>
</div>
