<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter a term">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- No Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="msmaller center"> No. </th>
    <td mat-cell *matCellDef="let author" class="msmaller"> {{author.id}} </td>
  </ng-container>

  <!-- Quote Column -->
  <ng-container matColumnDef="biography">
    <th mat-header-cell *matHeaderCellDef class="center"> Biography </th>
    <td mat-cell *matCellDef="let author" class="mat-body"><p class="block-ellipsis">{{author.biography}}</p></td>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="popular_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="mmedium center hauthor"> Name and Picture </th>
    <td mat-cell *matCellDef="let author" class="center mmedium">
      <img mat-card-avatar src="{{author.image_url}}" alt="Picture of {{author.popular_name}}">
       <button mat-button class="fixWidth"><p class="pblock-ellipsis">{{author.popular_name}}</p></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
