<mat-nav-list>
    <a (click)="onSidenavClose()" href="#"  mat-list-item> <mat-icon>close</mat-icon> <span class="nav-caption"> Close</span> </a>
    <a mat-list-item [routerLink]="'/Quotes'"> <mat-icon>format_quote</mat-icon> <span class="nav-caption"> Quotes </span> </a>
    <a mat-list-item [routerLink]="'/Authors'"> <mat-icon>people</mat-icon> <span class="nav-caption"> Authors </span> </a>
    <a mat-list-item [routerLink]="'/Topics'"> <mat-icon>category</mat-icon> <span class="nav-caption"> Topics </span> </a>
    <a mat-list-item [routerLink]="'/About'"> <mat-icon>info</mat-icon> <span class="nav-caption"> About </span> </a>
  </mat-nav-list>
