<div class="row">
    <p class="flow-text" *ngIf="paginatedQuotes==undefined" i18n='No results|No results avilable text@@no-results-available'>Nothing to show here for now! Please, come back later.</p>
    <div *ngFor="let quote of paginatedQuotes" class="col s12 m6 l4 xl3">
        <mat-card class="quote-card" *ngIf="quote!=null">
            <mat-card-header>
                <img mat-card-avatar class="quote-author-image" src="{{apiBaseUrl}}{{quote.author.image_url}}" alt="picture of {{ quote.author.popular_name }}"/>
                <mat-card-title><a [routerLink]="['/authors', quote.author.id, 'details']">{{ quote.author.popular_name }}</a></mat-card-title>
                <mat-card-subtitle>{{ quote.created_at }}</mat-card-subtitle>
                <button mat-icon-button color="primary" aria-label="button for viewing details of this quote" class="alignRight" matTooltip="details">
            <mat-icon [routerLink]="['/quotes', quote.id, 'details']">pageview</mat-icon>
          </button>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    {{quote.content}}
                </p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <button mat-flat-button color="primary" aria-label="Thumbs up button for like">
          <mat-icon>thumb_up</mat-icon>
        </button>
                <button mat-flat-button color="warn" aria-label="Thumbs down button for dislike">
          <mat-icon>thumb_down</mat-icon>
        </button>
                <button mat-flat-button color="accent" aria-label="button for sharing">
          <mat-icon>share</mat-icon>
        </button>
                <button mat-icon-button color="warn" aria-label="button for reporting a problem with this quote" class="alignRight" matTooltip="report">
            <mat-icon>info</mat-icon>
          </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div>
    <mat-paginator [length]="paginatorConfigurable.length" [pageSize]="paginatorConfigurable.pageSize" [pageSizeOptions]="paginatorConfigurable.pageSizeOptions" (page)="paginatorConfigurable.pageEvent = $event; onPaginatorChange($event)" showFirstLastButtons></mat-paginator>
</div>
