<app-layout>
<mat-sidenav-container fxFlexFill>

          <mat-sidenav #sidenav fxLayout="column">
            <div fxLayout="column">
                <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
            </div>
          </mat-sidenav>

          <mat-sidenav-content fxFlexFill>
              <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
              <main>
                <section class="main">
                    <mat-card matTooltip="If you want to play the slider just click on the next point above the image.">
                      <app-carousel></app-carousel>
                    </mat-card>
                    <router-outlet></router-outlet>
                </section>
              </main>

              <app-footer></app-footer>
          </mat-sidenav-content>

        </mat-sidenav-container>
</app-layout>
