<section>
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <h1>Quotes</h1>
      <span class="fill-remaining-space"></span>
      <app-languages-list [languages]="languages" class="reduceWidth"></app-languages-list>
      <button
        mat-icon-button
        aria-label="button for displaying in Grid mode"
        matTooltip="Grid Mode"
        (click)="changeDisplayMode(displayModeEnum.Grid)"
        [class.active]="displayMode === displayModeEnum.Grid"
        [disabled]="displayMode === displayModeEnum.Grid"
      >
        <mat-icon>view_comfy</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="button for displaying in List mode"
        matTooltip="List Mode"
        (click)="changeDisplayMode(displayModeEnum.List)"
        [class.active]="displayMode === displayModeEnum.List"
        [disabled]="displayMode === displayModeEnum.List"
      >
        <mat-icon>list</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <app-quotes-grid [quotes]="quotes" [hidden]="displayMode !== displayModeEnum.Grid"> </app-quotes-grid>
  <app-quotes-list [quotes]="quotes" [hidden]="displayMode !== displayModeEnum.List"> </app-quotes-list>
</section>
