th.mat-sort-header-sorted {
    color: orangered;
  }
  .mat-form-field {
    font-size: 14px;
    width: 98%;
    margin: 1%;
  }
  .center {
    text-align: center;
    padding: 1%;
  }
  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 5px;
  }
  .mat-header-cell {
    font-size: 14px;
    font-weight: bolder;
  }
  .hauthor {
    padding-left: 5.5%;
  }
  @media (max-width: 767px) {
    .hauthor {
      padding-left: 6%;
    }
    table {
      width: 100%;
      table-layout: fixed;
    }

    th.mgreater, td.mgreater {
      /*overflow: hidden;
      width: 67%;
      text-overflow: ellipsis;
      white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.2em;        /* fallback */
        max-height: 3.6em;       /* fallback */
        border: none;
        padding-top: 5px;
        vertical-align:middle;
        align-content: center;

    }
    .block-ellipsis {
      display: block;
      display: -webkit-box;
      max-width: 100%;
      height: 56px;
      margin: 0 auto;
      font-size: 14px;
      line-height: 1;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    th.msmaller, td.msmaller {
      width: 10%;
      margin-right: 1%;
      padding: 1%
    }
    th.mmedium, td.mmedium {
      width: 20%;
      text-align: center;
    }
  }
  @media (max-width: 630px) {
    button.fixWidth {
      width: 100%;
      padding: 1%;
      line-height: 1;
    }
    .pblock-ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
      padding-left:5%;
    }
    .hauthor {
      padding-left: 5%;
    }
  }

