th.mat-sort-header-sorted {
    color: orangered;
  }
  .mat-form-field {
    font-size: 14px;
    width: 98%;
    margin: 1%;
  }
  .center {
    padding: 1%;
  }
  @media (max-width: 767px) {
    table {
      width: 100%;
      table-layout: fixed;
    }

    th, td {
      overflow: hidden;
      width:auto;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .mgreater {
      width: 250%;
    }
  }
