.topic-card {
  margin: 2%;
}

.topic-image {
  background-size: cover;
}
button {
  margin: 2px;
}
p {
  padding-top: 3%;
  font-style: italic;
}
div.row p{
  padding: 1%;
}
.alignRight {
  position: absolute;
  right: 0px;
}
