<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="foot">
      <div class="row">
        <div class="col s12 m6 l4">
          <h3 class="mat-h3">Quotes About Jesus</h3>
          <p class="mat-body">Because he is <br>the most interresting <br>person this world ever known!</p>
        </div>
        <div class="col s12 m6 l4">
          <h4 class="mat-h4">Legal</h4>
          <ul class="navigation-items">
            <li class="mat-body">About</li>
            <li class="mat-body">Privacy Policy</li>
            <li class="mat-body">Terms & Conditions</li>
          </ul>
        </div>
        <div class="col s12 m6 l4">
          <h4 class="mat-h4">Social</h4>
          <button mat-icon-button aria-label="button for going on the creator facebook profil" class="alignRight">
            <mat-icon>facebook</mat-icon>
          </button>
          <button mat-icon-button aria-label="button for going on the creator linkedin profil" class="alignRight">
            <mat-icon>linkedin</mat-icon>
          </button>
          <button mat-icon-button aria-label="button for going on the creator github profil" class="alignRight">
            <mat-icon>github</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="mat-elevation-z8">
      <p class="mat-body center">&copy; Copyright {{today | date:"yyyy"}} Willy Nzesseu, All rights reserved</p>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
