.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
