<mat-toolbar color="primary">
    <span i18n='Site title | Name of the site@@site-header'>Quotes About Jesus</span>

    <span class="fill-remaining-space"></span>

    <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <a mat-button routerLinkActive="active" [routerLink]="!this.languageCode ? ['/quotes'] : ['this.languageCode/quotes']" i18n='Quotes link | Link to quotes@@qoutes-link'>
                    <mat-icon>format_quote</mat-icon> Quotes </a>
            </li>
            <li>
                <a mat-button routerLinkActive="active" [routerLink]="!this.languageCode ? ['/authors'] : ['this.languageCode/authors']" i18n='Authors link | Link to authors@@authors-link'>
                    <mat-icon>people</mat-icon> Authors </a>
            </li>
            <li>
                <a mat-button routerLinkActive="active" [routerLink]="!this.languageToggleService.languageCode ? ['/topics'] : ['this.languageToggleService.languageCode/topics']" i18n='Topics link | Link to topics@@topics-link'>
                    <mat-icon>category</mat-icon> Topics </a>
            </li>
            <li i18n='About link | Link to about@@about-link'>
                <a mat-button routerLinkActive="active" [routerLink]="this.languageToggleService.languageCode ? ['/about'] : ['this.languageToggleService.languageCode/about']">
                    <mat-icon>info</mat-icon> About </a>
            </li>
            <li>
                <app-language-toggle></app-language-toggle>
            </li>
        </ul>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
          </button>
    </div>
</mat-toolbar>
