<mat-toolbar color="primary">
    <span i18n='Site title | Name of the site'>Quotes About Jesus</span>

    <span class="fill-remaining-space"></span>

    <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <a mat-button routerLinkActive="active" [routerLink]="['/quotes']" i18n='Quotes link | Link to quotes'>
                    <mat-icon>format_quote</mat-icon> Quotes </a>
            </li>
            <li>
                <a mat-button routerLinkActive="active" [routerLink]="['/authors']" i18n='Authors link | Link to authors'>
                    <mat-icon>people</mat-icon> Authors </a>
            </li>
            <li>
                <a mat-button routerLinkActive="active" [routerLink]="['/topics']" i18n='Topics link | Link to topics'>
                    <mat-icon>category</mat-icon> Topics </a>
            </li>
            <li>
                <a mat-button routerLinkActive="active" [routerLink]="['/about']" i18n='About link | Link to about'>
                    <mat-icon>info</mat-icon> About </a>
            </li>
        </ul>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
          </button>
    </div>
</mat-toolbar>